.login {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register1 {
  position: relative;
  top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reInput {
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
