.tContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 1024px;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.Booked {
  border: 0px;
  border-radius: 5px;
  background-color: rgba(244, 35, 35, 0.453);
}

.Checkout {
  border: 0px;
  border-radius: 5px;
  background-color: rgba(42, 137, 209, 0.453);
}

.Checkin {
  border: 0px;
  border-radius: 5px;
  background-color: rgb(9, 251, 9);
}
